/* RESET CSS BELOW */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* RESET HTML ABOVE */

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: aliceblue;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.c__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 36px 180px;
  background-color: white;
}

.c__navbar-logo-d2c {
}

.c__navbar-superior-menu {
  display: flex;
  gap: 40px;
}

.c__navbar-superior-menu-a {
  text-decoration: none;
  color: rgb(78, 78, 78);
  font-weight: 700;
  font-size: 16px;
}

.c__section-slide {
}

.c__section-slide-background-img {
  background-image: url("./public/assets/gestao-d2c.jpg");
  background-size: cover; /* cobre toda a área */
  background-position: center; /* centraliza */
  max-width: 100%;
  height: 700px; /* defina uma altura visível */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  text-align: center;
}

.c__section-slide-content {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 50px;
  font-weight: 300;
  align-items: center;
}

.c__section-slide-title {
  font-weight: 700;
  font-size: 80px;
}

.c__section-slide-btn {
  border-radius: 30px;
  border-style: solid;
  border-color: aliceblue;
  width: fit-content;
  padding: 5px 40px;
  font-size: 34px;
  font-weight: 100;
  margin: 30px;
}
